/* style.css */

/* Importação do reset.css (opcional) */
@import url("reset.css");

/* Estilos globais */
html {
  font-size: 16px; /* Define 1rem = 16px */
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #97c7ae;
  color: #1b392d;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
}

/* Container principal */
.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #bdddca;
}

header .logo h1 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

header nav a {
  text-decoration: none;
  margin-left: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  transition: background-color 0.3s;
}

header nav a:hover {
  text-decoration: none;
  background-color: #ddeee3;
}

/* Seção de Informações Gerais */
.section-infos {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  background-color: #bdddca;
}

.section-infos h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.section-infos h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.section-infos h5 {
  font-size: 1rem;
  margin-top: 1rem;
}

/* Estilo das etiquetas de dados */
.section-infos .badge {
  font-size: 0.8rem;
  display: inline-block;
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  margin: 0.25rem 0.25rem 0.25rem 0;
  background-color: #ddeee3;
}

/* Estilo das mensagens de alerta */
.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddeee3;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.alert i {
  padding: 0 1rem 0 0.5rem;
  color: #dd403a;
  font-size: 1.5rem;
}

.alert p {
  font-size: 0.9rem;
}

/* Estilo da lista personalizada */
.lista-bonita {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.lista-bonita li {
  border: 1px solid #064e3b;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lista-bonita li::before {
  content: "\f013"; /* Ícone FontAwesome */
  font-family: "Font Awesome 5 Free"; /* Fonte do ícone */
  font-weight: 900;
  margin-right: 1rem;
  font-size: 1.5rem;
}

/* Questionário ESG */
.questionario {
  display: flex;
  flex-direction: column;
}

/* Estilo dos cards do questionário */
.card {
  border: 1px solid #064e3b;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.card h4 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.card p i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.card p {
  font-size: 1rem;
  color: #003d14;
}

.card a {
  text-decoration: none;
  color: #1a73e8;
}

.card a:hover {
  text-decoration: underline;
}

/* Estilo das respostas do questionário */
.resposta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.resposta i {
  font-size: 1.5rem;
}

.resposta p {
  margin: 0;
  font-size: 1rem;
}

/* Estilo das listas de itens */
.questionario-lista {
  list-style-type: none;
  padding-left: 0;
}

.questionario-lista li {
  margin: 0.5rem 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.questionario-lista li::before {
  content: "\f4d6"; /* Ícone FontAwesome */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 1rem;
  font-size: 1.5rem;
}

/* Estilo dos pictogramas */
.pictogramas {
  display: flex;
  flex-direction: column;
}

.card-legenda span {
  font-size: 0.8rem;
  margin: 0 0.5rem;
}

.grafico i {
  padding: 0.2rem 0.2rem 0.2rem 0;
}

/* Cores dos ícones */
.icone-sim {
  color: #28a745; /* Cor verde */
}

.icone-nao {
  color: #dd403a; /* Cor vermelha */
}

.icone-amarelo {
  color: #ffb627;
}

.icone-branco {
  color: #ffffff;
}

.icone-pardo {
  color: #8b4513;
}

.icone-preto {
  color: #000000;
}

.icone-indigena {
  color: #dd403a;
}

.icone-azul {
  color: #1a73e8;
}

.icone-rosa {
  color: #e91e63;
}

.icone-roxo {
  color: #8a2be2;
}

/* Rodapé */
.footer {
  background-color: #bdddca;
  text-align: center;
  padding: 2rem 0 1rem 0;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.footer nav {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer nav a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  transition: background-color 0.3s;
}

.footer nav a:hover {
  background-color: #ddeee3;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.footer-social a {
  transition: transform 0.3s;
}

.footer-social a:hover {
  transform: scale(1.2);
}

.footer-copy {
  font-size: 0.875rem;
}

/* Estilos responsivos para desktops e laptops */
@media (min-width: 48rem) {
  header h1 {
    font-size: 2rem;
  }

  header nav a {
    margin-left: 2rem;
  }

  .section-infos h2 {
    font-size: 2.5rem;
  }

  header nav {
    flex-direction: row;
    align-items: flex-end;
  }

  .lista-bonita {
    flex-direction: row;
    flex-wrap: wrap; /* Quebra a linha dos itens quando não cabem mais no container */
    justify-content: space-between; /* Distribui os itens no espaço disponível */
  }

  .lista-bonita li {
    font-size: 1.125rem; /* Ajuste do tamanho da fonte */
    padding: 0.75rem; /* Ajuste do espaçamento interno */
    width: calc(
      50% - 0.5rem
    ); /* Ajusta a largura dos itens para ocupar metade do espaço, considerando o margin */
    box-sizing: border-box; /* Inclui padding e border na largura total */
  }

  .questionario {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .questionario .card {
    width: calc(50% - 0.5rem);
    box-sizing: border-box;
  }

  .pictogramas {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pictogramas .card {
    width: calc(50% - 0.5rem);
    box-sizing: border-box;
  }

  .footer nav {
    gap: 2rem;
    flex-direction: row;
    align-items: flex-end;
  }

  .footer-social a {
    font-size: 2rem;
  }
}
